
div#body-content {	
	padding-left: 2px;	
	padding-right: 2px;	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 87%;
}

div.options-title h1{
	background-image: url('icon_64.png');
	background-repeat: no-repeat;
	line-height: 64px;
	text-indent:70px;
	vertical-align: middle;			
	font-size: 175%;
}

div.options-table {
	background-color: #f4f6fc;
	border-top: 1px solid #b5c7de;		
	border-bottom: 1px solid #EDEFF5;
}

div.options-table-header {
	background-color: #ebeff9;	
	line-height: 20px;
	vertical-align: middle;		
	text-indent: 6px;
	border-bottom: 10px solid #f4f6fc;
	font-weight: bold;
}

div.options-table-row {
	font-size: 85%;
	background-color: #f4f6fc;	
	line-height: 35px;
	vertical-align: middle;		
	text-indent: 12px;
	display: table-row;
}

div.options-table-cell {
	display: table-cell;
}

div.options-buttons {	
	width: 100%;
	padding-top: 10px;	
}

span#optionsSavedMessage {
	visibility: hidden;
	background-color: #fdffbd;	
	border: 1px dotted #b5c7de;		
	margin-right: 40px;	
	padding-right: 40px;	
	padding-left: 40px;	
	width: 200px;
}