div.menu {	
}

div.menu-item {
	font: normal 12px helvetica, arial, verdana;	
	padding: 4px; 
	text-indent: 22px;	
	cursor: hand;	
	color: #555;
	width: 143;
	background-color: #fff;
	background-image: url('gray_star.png');
	background-repeat: no-repeat;
	background-position: 5px 5px; 		
	border-bottom: 1px solid #eee;			
}

div.menu-item:first-child {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;	
}

div.menu-item:last-child {
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-style: none;	
}

div.menu-item:hover {
	color: #11A;	
	background-color: #f2f2f2;
	background-image: url('blue_star.png');	
}
