.popup {
    margin: 0;
    padding: 6px;
    color: #666;
    user-select: none;
    -webkit-user-select: none;
}

.popup[theme=DARK] {
    color: #D7D7D8;
    background-color: #292A2D;
    border-top-color: black;
    border-top-width: 1px;
    border-top-style: solid;
}

.list-group {
    margin-bottom: 0;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    cursor: pointer;
}

.list-group-item {
    padding: 6px 10px;
    color: #666;
    user-select: none;
    -webkit-user-select: none;
    font-size: small;
}

.list-group-item[theme=DARK] {
    color: #D7D7D8;
    background-color: #292A2D;
}

.list-group-item:hover,
.list-group-item:hover .list-group-item-icon {
    color: #11A;
    user-select: none;
    -webkit-user-select: none;
}

.list-group-item[theme=DARK]:hover,
.list-group-item[theme=DARK]:hover .list-group-item-icon {
    color: #D7D7D8;
    background-color: #444547;
}

.list-group-item-icon {
    margin-left: -2px;
    margin-right: 4px;
    color: #AAA;
    user-select: none;
    -webkit-user-select: none;
}
